/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* 以上是css-reset */
/* 以下是自定义css */

.box {
  width: 300px;
  height: 32px;
  background: #e1e1e1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  border: 1px solid #ababab;
  border-radius: 5px;
}

.btn {
  position: absolute;
  top: 0;
  width: 40px;
  height: 32px;
  z-index: 3;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAuElEQVR4nMWVPQrCQBBGXxOE9RpRz5ETpNB72NtZGMhpDIQQchBrf06hVSRgIYM4O4FJHkz12G9hZ3cWZiAB9sB5pP9LBlyA/lNbo1dpvhYP9QCWBq+SAk8RcjL4KAoR8AI2Bq8SgKsI6Qw+ip0I6IHc4KNoRcBdNFTzKqsfDT0afBSlCBgC1wavEoCbCKkNfv4NSs8jcm9y63lNXR9a8B4VheewS73HdeP94WTeXybAAjgA1Ug/LW/VpLiheJ1AygAAAABJRU5ErkJggg==") no-repeat;
  background-position: 8px;
  border-radius: 5px;
}

.text {
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 32px;
  z-index: 2;
}

.bg {
  position: absolute;
  height: 100%;
  background-color: #7ac23c;
  z-index: 1;
}
